.header-profile .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.header-profile .dropdown-menu {
    min-width: 180px;
    right: 0;
    left: auto;
}

.header-profile .dropdown-item {
    display: flex;
    align-items: center;
}

.header-profile .dropdown-item.ai-icon svg {
    margin-right: 10px;
}

[data-theme-version='dark'] .header-profile .dropdown-item.ai-icon svg {
    stroke: #fff;
}

.header-profile .dropdown-item.ai-icon span {
    font-size: 14px;
}

.dropdown-item {
    padding: 5px 18px;

    .fa-icon {
        margin-right: 10px;
    }
}

.dropdown-divider {
    margin: 7px 0;
}
