<div
    class="columns-1 gap-4 md:columns-2 lg:columns-3 [&>div:not(:first-child)]:mt-4"
>
    <div class="overflow-hidden">
        <app-anniversaries-dashboard></app-anniversaries-dashboard>
    </div>
    <div class="overflow-hidden">
        <app-news-dashboard></app-news-dashboard>
    </div>
    <div class="overflow-hidden">
        <app-event-dashboard></app-event-dashboard>
    </div>
    <div class="overflow-hidden">
        <app-web-checkin></app-web-checkin>
    </div>
    <div class="overflow-hidden">
        <app-useful-links></app-useful-links>
    </div>
</div>
