:root {
    --text: #222222;
    --action: #677791;
    --blue: #45CBED;
    --action-hover: #02548E;
    --secondary-text: #707070;
    --affirmative: #89BD30;
    --warning: #AF4E0E;
    --danger: #C12C20;
    --informative: #1A72CB;
    --elements-background: #FFFFFF;
    --background-blue: #F3F7FA;
    --vendor-font: Helvetica;
    --header: #677791;
    --white: #FFFFFF;
    --suggestionBox: #89BD30;
}

// social media colors
$linkedin: #0077b5;
$twitter: #1da1f2;
$skype: #01aff0;
$facebook: #4767aa;
$pinterest: #bd081c;
$instagram: #d2318f;
$whatsapp: #25d366;

$gray-4: #333;
$gray-5:#D8E0F3;

$blue: #45cbed;
$blue-2: #0B8DAE;
$dark-blue: #3fa9f5; // for links

$green: #46da60;
$dark-green: #0d8923;
$red: #f44336;
$orange: #fe6f21;
