<div
    class="hide-on-print sticky top-0 z-50 flex h-16 items-center justify-between bg-white px-2 transition-all ease-in-out md:pl-3 md:pr-6"
>
    <div
        class="md:4 flex gap-2"
        [ngClass]="
            sidebarCollapsed ? 'md:gap-10 lg:gap-10' : 'md:gap-14 lg:gap-12'
        "
    >
        <a
            routerLink="/dashboard"
            class="flex h-full w-full items-center gap-4 px-2"
        >
            <img
                class="aspect-square w-10"
                src="../../../../assets/images/logos/CapHighResT.png"
                alt="EdOpSys"
            />
            <img
                class="hidden h-7 w-auto md:block"
                [ngClass]="{ '!hidden': sidebarCollapsed }"
                src="../../../../assets/images/logos/NameHighResT.png"
                alt="EdOpSys"
            />
        </a>
        <button
            type="button"
            (click)="handleToggleSidebar()"
            class="hidden md:block"
        >
            <ng-template
                [ngTemplateOutlet]="sidebarToggleButton"
                [ngTemplateOutletContext]="{ condition: sidebarCollapsed }"
            ></ng-template>
        </button>
        <button
            #sidebarToggleBtn
            type="button"
            (click)="handleSidebarVisibility()"
            class="block md:hidden"
        >
            <ng-template
                [ngTemplateOutlet]="sidebarToggleButton"
                [ngTemplateOutletContext]="{ condition: sidebarVisible }"
            ></ng-template>
        </button>
    </div>
    <app-search></app-search>
    <ul class="flex items-center justify-end gap-4">
        <app-notification></app-notification>
        <app-profile></app-profile>
    </ul>
</div>

<ng-template #sidebarToggleButton let-condition="condition">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        [class.hidden]="condition"
    >
        <path
            stroke="rgba(0, 0, 0, 0.5)"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="2"
            d="M4 7h22M4 15h22M4 23h22"
        />
    </svg>
    <svg
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{ 'rotate-180': sidebarVisible, hidden: !condition }"
    >
        <path
            d="M21.5998 11.4001L13.8373 3.5251C13.4998 3.1876 12.9748 3.1876 12.6373 3.5251C12.2998 3.8626 12.2998 4.3876 12.6373 4.7251L18.9373 11.1376H2.9998C2.5498 11.1376 2.1748 11.5126 2.1748 11.9626C2.1748 12.4126 2.5498 12.8251 2.9998 12.8251H19.0123L12.6373 19.3126C12.2998 19.6501 12.2998 20.1751 12.6373 20.5126C12.7873 20.6626 13.0123 20.7376 13.2373 20.7376C13.4623 20.7376 13.6873 20.6626 13.8373 20.4751L21.5998 12.6001C21.9373 12.2626 21.9373 11.7376 21.5998 11.4001Z"
            fill="rgba(0, 0, 0, 0.5)"
        />
    </svg>
</ng-template>
