<div
    class="relative flex flex-col items-center gap-1 bg-gray-100 p-4 sm:flex-row sm:justify-center"
>
    <span>Copyright © Designed & Developed by</span>
    <span>
        <a
            href="https://www.araiinfotech.com/contact-us"
            target="_blank"
            class="text-app-highlight hover:underline"
        >
            Arai Infotech
        </a>
        |
        <a href="https://www.araiinfotech.com/contact-us" target="_blank">
            Terms and Conditions
        </a>
    </span>
</div>
