.footer {
    padding-left: 17.1875rem;
    background-color: #f7f8fa;
  }
  .footer .copyright {
    padding: 0.9375rem;
  }
  .footer .copyright p {
    text-align: center;
    margin: 0;
  }
  .footer .copyright a {
    color: #7356f1;
    text-decoration: none; 
  }
  