<div
    class="scrollbar mb-5 flex min-w-full overflow-x-auto border-b border-gray-300"
>
    <nav class="flex gap-2 uppercase text-gray-600">
        <a
            *ngFor="let tab of tabs"
            [routerLink]="tab.route"
            routerLinkActive="text-blue-500 border-b-2 border-blue-500 font-medium"
            [routerLinkActiveOptions]="{ exact: tab.exact ?? false }"
            class="whitespace-nowrap px-4 py-2 transition-colors duration-300 ease-in-out hover:text-blue-500"
        >
            {{ tab.name }}
        </a>
    </nav>
</div>
