.pulse-css {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border-radius: 3.5rem;
    height: 0.4rem;
    position: absolute;
    background: #7356f1;
    right: 5px;
    top: 0.6rem;
    width: 0.4rem;
}

.pulse-css:after,
.pulse-css:before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -0.2rem;
    background-color: #7356f1;
    margin: auto;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: pulse-me 3s linear infinite;
    animation: pulse-me 3s linear infinite;
}

@-webkit-keyframes pulse-me {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    70% {
        opacity: 0.09;
    }

    100% {
        -webkit-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes pulse-me {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    70% {
        opacity: 0.09;
    }

    100% {
        -webkit-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
}
